In [22]:
import pandas as pd
import re
from datetime import date
import numpy as np

In [23]:
sales_df = pd.read_csv('./resources/item_sales_03 03 23.csv')

In [24]:
# Drop all rows with NaN values for the "Unnamed: 3" column
sales_df = sales_df.dropna(subset=['Unnamed: 3'])

sales_df

,Detail Item Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
8,Check#,Date,Time,Code,Name,Category,Department,Course,Price,Qty,Item Total,Disc.,Outlet,Order Employee,Disc. Employee,Payment Method
9,1288832,2023-03-03,20:38:25,MARLC-121008,$Add House Side Salad,SALADS,FOOD,NaN,3.75,0.50,1.88,0.00,LandShark Bar & Grill,O'Connor Estefania,NaN,ROOM CHARGE
10,1288843,2023-03-03,21:23:01,MARLC-121008,$Add House Side Salad,SALADS,FOOD,NaN,3.75,0.50,1.88,0.00,LandShark Bar & Grill,O'Connor Estefania,NaN,ROOM CHARGE
15,Check#,Date,Time,Code,Name,Category,Department,Course,Price,Qty,Item Total,Disc.,Outlet,Order Employee,Disc. Employee,Payment Method
16,1288832,2023-03-03,21:13:25,MARLC-600033,"14"" Margherita Pizza",GRAB N GO FOOD,FOOD,NaN,13.00,0.50,6.50,0.00,LandShark Bar & Grill,O'Connor Estefania,NaN,ROOM CHARGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,1103574,2023-03-03,19:08:02,MARLC-77,Premium Mixed Drinks,NaN,LIQUOR,NaN,9.61,5.00,48.05,0.00,Catering,Rivera Carlos,NaN,VISA
3600,1103581,2023-03-03,19:41:49,MARLC-77,Premium Mixed Drinks,NaN,LIQUOR,NaN,9.61,4.00,38.44,0.00,Catering,Rivera Carlos,NaN,VISA
3605,Check#,Date,Time,Code,Name,Category,Department,Course,Price,Qty,Item Total,Disc.,Outlet,Order Employee,Disc. Employee,Payment Method
3606,1103571,2023-03-03,18:24:13,MARLC-901039,WATER,MINERAL WATER,NON-ALCOHOLIC BEVERAGE,NaN,4.43,10.00,44.30,0.00,Catering,Rivera Carlos,NaN,AMEX
3607,1103572,2023-03-03,18:39:44,MARLC-901039,WATER,MINERAL WATER,NON-ALCOHOLIC BEVERAGE,NaN,4.43,2.00,8.86,0.00,Catering,Rivera Carlos,NaN,VISA

In [25]:
# Fill all NaN values with 0
sales_df = sales_df.fillna(0)

In [26]:
sales_df.columns = ['Check', 'Date','Time',	'Code',	'Name',	'Category',	'Department'	,'Course'	,'Price'	,'Qty',	'Item Total',	'Disc'	,'Outlet'	,'Order Employee',	'Disc. Employee'	,'Payment Method']

In [27]:
# Drop all columns except "Date", "Code", "Name", "Qty", "Price", "Item Total", "Category", "Outlet"
sales_df = sales_df.drop(columns=['Check', 'Time',	'Department'	,'Course'	,'Disc'	,'Order Employee',	'Disc. Employee'	,'Payment Method'])

sales_df

,Date,Code,Name,Category,Price,Qty,Item Total,Outlet
8,Date,Code,Name,Category,Price,Qty,Item Total,Outlet
9,2023-03-03,MARLC-121008,$Add House Side Salad,SALADS,3.75,0.50,1.88,LandShark Bar & Grill
10,2023-03-03,MARLC-121008,$Add House Side Salad,SALADS,3.75,0.50,1.88,LandShark Bar & Grill
15,Date,Code,Name,Category,Price,Qty,Item Total,Outlet
16,2023-03-03,MARLC-600033,"14"" Margherita Pizza",GRAB N GO FOOD,13.00,0.50,6.50,LandShark Bar & Grill
...,...,...,...,...,...,...,...,...
3599,2023-03-03,MARLC-77,Premium Mixed Drinks,0,9.61,5.00,48.05,Catering
3600,2023-03-03,MARLC-77,Premium Mixed Drinks,0,9.61,4.00,38.44,Catering
3605,Date,Code,Name,Category,Price,Qty,Item Total,Outlet
3606,2023-03-03,MARLC-901039,WATER,MINERAL WATER,4.43,10.00,44.30,Catering
3607,2023-03-03,MARLC-901039,WATER,MINERAL WATER,4.43,2.00,8.86,Catering

In [28]:
# Drop all rows where the "Code" column value does not contain "MAR"
sales_df = sales_df[sales_df['Code'].str.contains('MAR')]

In [29]:
# Set the index to be the "Date" column and drop the "Date" column
sales_df = sales_df.set_index('Date')

In [30]:
# Convert the index to a datetime object
sales_df.index = pd.to_datetime(sales_df.index)

In [31]:
# The order of the columns should be "Name", "Code", "Price", "Qty", "Item Total", "Category", "OUtlet"
sales_df = sales_df[['Name', 'Code', 'Price', 'Qty', 'Item Total', 'Category', 'Outlet']]
sales_df

,Name,Code,Price,Qty,Item Total,Category,Outlet
Date,,,,,,,
2023-03-03,$Add House Side Salad,MARLC-121008,3.75,0.50,1.88,SALADS,LandShark Bar & Grill
2023-03-03,$Add House Side Salad,MARLC-121008,3.75,0.50,1.88,SALADS,LandShark Bar & Grill
2023-03-03,"14"" Margherita Pizza",MARLC-600033,13.00,0.50,6.50,GRAB N GO FOOD,LandShark Bar & Grill
2023-03-03,"14"" Margherita Pizza",MARLC-600033,13.00,0.50,6.50,GRAB N GO FOOD,LandShark Bar & Grill
2023-03-03,1800 Tequila Reposado,MARLC-860000,9.00,2.00,18.00,TEQUILA,LandShark Bar & Grill
...,...,...,...,...,...,...,...
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,2.00,19.22,0,Catering
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,5.00,48.05,0,Catering
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,4.00,38.44,0,Catering
2023-03-03,WATER,MARLC-901039,4.43,10.00,44.30,MINERAL WATER,Catering
2023-03-03,WATER,MARLC-901039,4.43,2.00,8.86,MINERAL WATER,Catering

In [32]:
sales_df.columns = ['Menu item name',	'Menu item code',	'Menu item list price'	,'Quantity sold'	,'Sales total excl. tax',	'Category', 'Outlet']

In [33]:
# Create a new column called "Sales total incl. tax" and set it equal to the "Sales total excl. tax" column
sales_df['Sales total inc. tax'] = sales_df['Sales total excl. tax']

# Drop the "Sales total incl. tax" column and move the "Sales total inc. tax" column to the right of the "Sales total excl. tax" column
sales_df = sales_df[['Menu item name',	'Menu item code',	'Menu item list price'	,'Quantity sold'	,'Sales total excl. tax', 'Sales total inc. tax',	'Category', 'Outlet']]
sales_df

#

,Menu item name,Menu item code,Menu item list price,Quantity sold,Sales total excl. tax,Sales total inc. tax,Category,Outlet
Date,,,,,,,,
2023-03-03,$Add House Side Salad,MARLC-121008,3.75,0.50,1.88,1.88,SALADS,LandShark Bar & Grill
2023-03-03,$Add House Side Salad,MARLC-121008,3.75,0.50,1.88,1.88,SALADS,LandShark Bar & Grill
2023-03-03,"14"" Margherita Pizza",MARLC-600033,13.00,0.50,6.50,6.50,GRAB N GO FOOD,LandShark Bar & Grill
2023-03-03,"14"" Margherita Pizza",MARLC-600033,13.00,0.50,6.50,6.50,GRAB N GO FOOD,LandShark Bar & Grill
2023-03-03,1800 Tequila Reposado,MARLC-860000,9.00,2.00,18.00,18.00,TEQUILA,LandShark Bar & Grill
...,...,...,...,...,...,...,...,...
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,2.00,19.22,19.22,0,Catering
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,5.00,48.05,48.05,0,Catering
2023-03-03,Premium Mixed Drinks,MARLC-77,9.61,4.00,38.44,38.44,0,Catering
2023-03-03,WATER,MARLC-901039,4.43,10.00,44.30,44.30,MINERAL WATER,Catering
2023-03-03,WATER,MARLC-901039,4.43,2.00,8.86,8.86,MINERAL WATER,Catering

In [34]:
# Drop all ',' from the dataframes
sales_df = sales_df.replace(',','', regex=True)

# Convert the "Menu item list price" column to a float
sales_df['Menu item list price'] = sales_df['Menu item list price'].astype(float)

# Convert the "Sales total excl. tax" column to a float
sales_df['Sales total excl. tax'] = sales_df['Sales total excl. tax'].astype(float)

# Convert the "Sales total inc. tax" column to a float
sales_df['Sales total inc. tax'] = sales_df['Sales total inc. tax'].astype(float)

# Convert the "Quantity sold" column to an integer
sales_df['Quantity sold'] = sales_df['Quantity sold'].astype(float)

# Convert the columns names to string
sales_df.columns = sales_df.columns.astype(str)

In [35]:
sales_df['Outlet'].unique()

array(['LandShark Bar & Grill', 'License To Chill', 'Lone Palm',
       "5 O'Clock Somewhere", 'Joe Merchant', 'Playin A Round Cafe',
       'Banquets', 'Boathouse', 'Catering '], dtype=object)

In [43]:
# Change outlet name to "JOE MERCHANT'S COFFEE & PROVISIONS" if the outlet name is "Joe Merchant"
for i in sales_df['Outlet'].unique():
    if i == 'Joe Merchant':
        sales_df['Outlet'] = sales_df['Outlet'].replace('Joe Merchant', 'JOE MERCHANT\'S COFFEE & PROVISIONS')
    elif i == 'License To Chill':
        sales_df['Outlet'] = sales_df['Outlet'].replace('License To Chill', 'LICENSE TO CHILL CAFE & BAR')
    elif i == 'Lone Palm':
        sales_df['Outlet'] = sales_df['Outlet'].replace('Lone Palm', 'LONE PALM POOL BAR')
    elif i == 'Catering ':
        sales_df['Outlet'] = sales_df['Outlet'].replace('Catering ', 'Mville_Catering')
    elif i == 'Banquets':
        sales_df['Outlet'] = sales_df['Outlet'].replace('Banquets', 'Banquets - Margaritaville XXXXX')
    elif i == '5 O\'Clock Somewhere':
        sales_df['Outlet'] = sales_df['Outlet'].replace('5 O\'Clock Somewhere', '5 O\'CLOCK SOMEWHERE BAR')
    elif i == 'Playin A Round Cafe':
        sales_df['Outlet'] = sales_df['Outlet'].replace('Playin A Round Cafe', 'GOLF PLAYIN-A-ROUND')

In [44]:
# Create a dictionary to hold the data we will concatenate with the dataframes
new_data = {
    'Location name': '',
    'Begin date': [date(2023, 2, 16)],
    'End date': [date(2023, 2, 16)],
    'Total revenue excl. tax': [30],
    'Total revenue inc. tax': [32]
}

In [45]:
# Create a dictionary to store the data for each outlet
outlet_data = {}

# Loop through each outlet
for outlet_name in sales_df['Outlet'].unique():
    # Create a new dataframe for the current outlet
    outlet_df = sales_df[sales_df['Outlet'] == outlet_name].copy()
    
    # Add the outlet name to the dictionary
    outlet_data[outlet_name] = outlet_df
    
    # Print the dataframe for the current outlet
    print(outlet_name)
    print(outlet_df)


# Convert any tuple values in the "Outlet" column to a string
sales_df['Outlet'] = sales_df['Outlet'].apply(lambda x: x if type(x) != tuple else x[0])

LandShark Bar & Grill
                      Menu item name Menu item code  Menu item list price  \
Date
2023-03-03     $Add House Side Salad   MARLC-121008                  3.75
2023-03-03     $Add House Side Salad   MARLC-121008                  3.75
2023-03-03      14" Margherita Pizza   MARLC-600033                 13.00
2023-03-03      14" Margherita Pizza   MARLC-600033                 13.00
2023-03-03     1800 Tequila Reposado   MARLC-860000                  9.00
...                              ...            ...                   ...
2023-03-03           Tranquil Waters   MARLC-800059                 10.00
2023-03-03  Tropical Fruit Margarita   MARLC-800060                 11.00
2023-03-03  Tropical Fruit Margarita   MARLC-800060                 11.00
2023-03-03  Tropical Fruit Margarita   MARLC-800060                 11.00
2023-03-03      Truly Wild Berry Can   MARLC-901023                  7.00

            Quantity sold  Sales total excl. tax  Sales total inc. tax  \
Date
2023-03-03            0.5                   1.88                  1.88
2023-03-03            0.5                   1.88                  1.88
2023-03-03            0.5                   6.50                  6.50
2023-03-03            0.5                   6.50                  6.50
2023-03-03            2.0                  18.00                 18.00
...                   ...                    ...                   ...
2023-03-03            1.0                  10.00                 10.00
2023-03-03            1.0                  11.00                 11.00
2023-03-03            1.0                  11.00                 11.00
2023-03-03            1.0                  11.00                 11.00
2023-03-03            1.0                   7.00                  7.00

                                  Category                 Outlet
Date
2023-03-03                          SALADS  LandShark Bar & Grill
2023-03-03                          SALADS  LandShark Bar & Grill
2023-03-03                  GRAB N GO FOOD  LandShark Bar & Grill
2023-03-03                  GRAB N GO FOOD  LandShark Bar & Grill
2023-03-03                         TEQUILA  LandShark Bar & Grill
...                                    ...                    ...
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LandShark Bar & Grill
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LandShark Bar & Grill
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LandShark Bar & Grill
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LandShark Bar & Grill
2023-03-03                        BEER CAN  LandShark Bar & Grill

[584 rows x 8 columns]
LICENSE TO CHILL CAFE AND BAR
               Menu item name    Menu item code  Menu item list price  \
Date
2023-03-03       $Add Chicken  MARLC-MOD-001210                   5.0
2023-03-03  7 Miles of Heaven      MARLC-800001                  13.0
2023-03-03  7 Miles of Heaven      MARLC-800001                  13.0
2023-03-03       All American      MARLC-100001                  15.0
2023-03-03       All American      MARLC-100001                  15.0
...                       ...               ...                   ...
2023-03-03     Who's to Blame      MARLC-800067                  11.0
2023-03-03     Who's to Blame      MARLC-800067                  11.0
2023-03-03     Who's to Blame      MARLC-800067                  11.0
2023-03-03     Who's to Blame      MARLC-800067                  11.0
2023-03-03     Who's to Blame      MARLC-800067                  11.0

            Quantity sold  Sales total excl. tax  Sales total inc. tax  \
Date
2023-03-03            1.0                    5.0                   5.0
2023-03-03            1.0                   13.0                  13.0
2023-03-03            1.0                   13.0                  13.0
2023-03-03            1.0                   15.0                  15.0
2023-03-03            1.0                   15.0                  15.0
...                   ...                    ...                   ...
2023-03-03            1.0                   11.0                  11.0
2023-03-03            2.0                   22.0                  22.0
2023-03-03            1.0                   13.0                  13.0
2023-03-03            1.0                   13.0                  13.0
2023-03-03            1.0                   13.0                  13.0

                                  Category                         Outlet
Date
2023-03-03                  FOOD CONDIMENT  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03                       BREAKFAST  LICENSE TO CHILL CAFE AND BAR
2023-03-03                       BREAKFAST  LICENSE TO CHILL CAFE AND BAR
...                                    ...                            ...
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  LICENSE TO CHILL CAFE AND BAR

[305 rows x 8 columns]
LONE PALM POOL BAR
                            Menu item name Menu item code  \
Date
2023-03-03  Blackberry Moonshine Margarita   MARLC-800008
2023-03-03  Blackberry Moonshine Margarita   MARLC-800008
2023-03-03                     Cajun Fries   MARLC-104013
2023-03-03                Chicken Sandwich   MARLC-123015
2023-03-03                 Chicken Tenders   MARLC-321046
2023-03-03                       Diet Coke   MARLC-007015
2023-03-03                    Kids Tenders   MARLC-320003
2023-03-03                    Loaded Fries   MARLC-321044
2023-03-03                Lone Palm Burger   MARLC-321001
2023-03-03                Lone Palm Burger   MARLC-321001
2023-03-03             Minet Maid Lemonade   MARLC-007018
2023-03-03       Off to the Virgin Islands   MARLC-800041
2023-03-03               Perfect Margarita   MARLC-800044
2023-03-03                       Texas dog   MARLC-321000
2023-03-03                       Texas dog   MARLC-321000
2023-03-03                       Texas dog   MARLC-321000
2023-03-03                Turkey Club Wrap   MARLC-321005
2023-03-03                  Who's to Blame   MARLC-800067
2023-03-03                  Who's to Blame   MARLC-800067

            Menu item list price  Quantity sold  Sales total excl. tax  \
Date
2023-03-03                 12.00            1.0                  12.00
2023-03-03                 12.00            1.0                  12.00
2023-03-03                  8.00            1.0                   8.00
2023-03-03                 17.00            1.0                  17.00
2023-03-03                 18.00            1.0                  21.75
2023-03-03                  4.00            1.0                   4.00
2023-03-03                 12.00            1.0                  12.00
2023-03-03                 12.00            1.0                  12.00
2023-03-03                 17.00            1.0                  17.00
2023-03-03                 17.00            1.0                  17.00
2023-03-03                  4.00            1.0                   4.00
2023-03-03                  4.95            1.0                   4.95
2023-03-03                 13.00            1.0                  13.00
2023-03-03                 15.00            1.0                  15.00
2023-03-03                 15.00            1.0                  18.75
2023-03-03                 15.00            1.0                  18.75
2023-03-03                 14.00            1.0                  14.00
2023-03-03                 11.00            1.0                  11.00
2023-03-03                 11.00            1.0                  11.00

            Sales total inc. tax                        Category  \
Date
2023-03-03                 12.00  COCKTAIL - SIGNATURE COCKTAILS
2023-03-03                 12.00  COCKTAIL - SIGNATURE COCKTAILS
2023-03-03                  8.00                     SIDE DISHES
2023-03-03                 17.00                SANDWICHES - HOT
2023-03-03                 21.75                     MAIN COURSE
2023-03-03                  4.00   BEVERAGE (FOOD) - COLD DRINKS
2023-03-03                 12.00                     MAIN COURSE
2023-03-03                 12.00                       APPETIZER
2023-03-03                 17.00                      SANDWICHES
2023-03-03                 17.00                      SANDWICHES
2023-03-03                  4.00   BEVERAGE (FOOD) - COLD DRINKS
2023-03-03                  4.95   BEVERAGE (FOOD) - COLD DRINKS
2023-03-03                 13.00  COCKTAIL - SIGNATURE COCKTAILS
2023-03-03                 15.00                     MAIN COURSE
2023-03-03                 18.75                     MAIN COURSE
2023-03-03                 18.75                     MAIN COURSE
2023-03-03                 14.00                     MAIN COURSE
2023-03-03                 11.00  COCKTAIL - SIGNATURE COCKTAILS
2023-03-03                 11.00  COCKTAIL - SIGNATURE COCKTAILS

                        Outlet
Date
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
2023-03-03  LONE PALM POOL BAR
5 O'CLOCK SOMEWHERE BAR
                         Menu item name Menu item code  Menu item list price  \
Date
2023-03-03          5 O'clock Somewhere   MARLC-800000                 11.00
2023-03-03                  Bahama Mama   MARLC-800003                 13.00
2023-03-03              Chicken Tenders   MARLC-321046                 18.00
2023-03-03                 Chips & Dips   MARLC-320001                 15.00
2023-03-03      Don't Stop The Carnival   MARLC-800015                 11.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03                    Ice Water   MARLC-007028                  0.00
2023-03-03               LandShark 20oz   MARLC-902110                  7.00
2023-03-03          Last Mango In Paris   MARLC-800028                 12.00
2023-03-03          Last Mango In Paris   MARLC-800028                 12.00
2023-03-03    Margaritaville Triple Sec   MARLC-820030                  6.00
2023-03-03              Mich Ultra 20oz   MARLC-902104                  6.50
2023-03-03          Michelob Ultra  Can   MARLC-901051                  6.50
2023-03-03          Minet Maid Lemonade   MARLC-007018                  4.00
2023-03-03  Moziak Sauvignon Blanc  Gls   MARLC-920003                  9.00
2023-03-03  Moziak Sauvignon Blanc  Gls   MARLC-920003                  9.00
2023-03-03  Moziak Sauvignon Blanc  Gls   MARLC-920003                  9.00
2023-03-03         Nestle Bottled Water   MARLC-007036                  4.00
2023-03-03    Off to the Virgin Islands   MARLC-800041                  4.95
2023-03-03            Perfect Margarita   MARLC-800044                 13.00
2023-03-03            Perfect Margarita   MARLC-800044                 13.00
2023-03-03            Perfect Margarita   MARLC-800044                 13.00
2023-03-03            Perfect Margarita   MARLC-800044                 13.00
2023-03-03                    Texas dog   MARLC-321000                 15.00
2023-03-03        Tito's Handmade Vodka   MARLC-870013                 12.00
2023-03-03        Tito's Handmade Vodka   MARLC-870013                 12.00
2023-03-03           Tropical Margarita   MARLC-800069                  9.50
2023-03-03           Tropical Margarita   MARLC-800069                  9.50
2023-03-03         Watermelon Margarita   MARLC-800066                 12.00
2023-03-03         Watermelon Margarita   MARLC-800066                 12.00
2023-03-03         Watermelon Margarita   MARLC-800066                 12.00
2023-03-03               Who's to Blame   MARLC-800067                 11.00

            Quantity sold  Sales total excl. tax  Sales total inc. tax  \
Date
2023-03-03            1.0                  11.00                 11.00
2023-03-03            1.0                  13.00                 13.00
2023-03-03            1.0                  18.00                 18.00
2023-03-03            1.0                  15.00                 15.00
2023-03-03            1.0                  11.00                 11.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   0.00                  0.00
2023-03-03            1.0                   7.00                  7.00
2023-03-03            1.0                  12.00                 12.00
2023-03-03            1.0                  12.00                 12.00
2023-03-03            1.0                   6.00                  6.00
2023-03-03            1.0                   6.50                  6.50
2023-03-03            1.0                   6.50                  6.50
2023-03-03            1.0                   4.00                  4.00
2023-03-03            2.0                  18.00                 18.00
2023-03-03            1.0                   9.00                  9.00
2023-03-03            1.0                   9.00                  9.00
2023-03-03            2.0                   8.00                  8.00
2023-03-03            1.0                   4.95                  4.95
2023-03-03            1.0                  13.00                 13.00
2023-03-03            1.0                  13.00                 13.00
2023-03-03            1.0                  13.00                 13.00
2023-03-03            1.0                  13.00                 13.00
2023-03-03            1.0                  15.00                 15.00
2023-03-03            2.0                  32.00                 32.00
2023-03-03            1.0                  12.00                 12.00
2023-03-03            1.0                   9.50                  9.50
2023-03-03            1.0                   9.50                  9.50
2023-03-03            1.0                  12.00                 12.00
2023-03-03            1.0                  12.00                 12.00
2023-03-03            1.0                  12.00                 12.00
2023-03-03            2.0                  22.00                 22.00

                                  Category                   Outlet
Date
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03                     MAIN COURSE  5 O'CLOCK SOMEWHERE BAR
2023-03-03                       APPETIZER  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03                    BEER DRAUGHT  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03                        LIQUEURS  5 O'CLOCK SOMEWHERE BAR
2023-03-03                    BEER DRAUGHT  5 O'CLOCK SOMEWHERE BAR
2023-03-03                        BEER CAN  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03         WHITE WINE BY THE GLASS  5 O'CLOCK SOMEWHERE BAR
2023-03-03         WHITE WINE BY THE GLASS  5 O'CLOCK SOMEWHERE BAR
2023-03-03         WHITE WINE BY THE GLASS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03   BEVERAGE (FOOD) - COLD DRINKS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03                     MAIN COURSE  5 O'CLOCK SOMEWHERE BAR
2023-03-03                           VODKA  5 O'CLOCK SOMEWHERE BAR
2023-03-03                           VODKA  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
2023-03-03  COCKTAIL - SIGNATURE COCKTAILS  5 O'CLOCK SOMEWHERE BAR
JOE MERCHANT'S COFFEE & PROVISIONS
                        Menu item name    Menu item code  \
Date
2023-03-03               $Extra cheese  MARLC-MOD-001254
2023-03-03                  10" Cheese      MARLC-600028
2023-03-03                  10" Cheese      MARLC-600028
2023-03-03                  10" Cheese      MARLC-600028
2023-03-03              10" Margherita      MARLC-600027
...                                ...               ...
2023-03-03  White Chocolate Mocha 16oz      MARLC-008104
2023-03-03  White Chocolate Mocha 20oz      MARLC-008204
2023-03-03  White Chocolate Mocha 20oz      MARLC-008204
2023-03-03  White Chocolate Mocha 20oz      MARLC-008204
2023-03-03             Yogurt Parfait       MARLC-103546

            Menu item list price  Quantity sold  Sales total excl. tax  \
Date
2023-03-03                  1.25            2.0                   2.50
2023-03-03                 10.00            1.0                  10.00
2023-03-03                 10.00            2.0                  20.00
2023-03-03                 10.00            1.0                  10.00
2023-03-03                 11.00            1.0                  11.00
...                          ...            ...                    ...
2023-03-03                  5.95            1.0                   5.95
2023-03-03                  6.45            1.0                   6.45
2023-03-03                  6.45            1.0                   6.45
2023-03-03                  6.45            1.0                   6.45
2023-03-03                  8.00            1.0                   8.00

            Sales total inc. tax            Category  \
Date
2023-03-03                  2.50      FOOD CONDIMENT

In [46]:
# For each of the outlet dataframes, populate the new data dictionary with the correct values and then concatenate the new data dictionary with the outlet dataframe
for outlet in outlet_data.values():
    new_data['Location name'] = str(outlet['Outlet'].unique()[0])
    new_data['Total revenue excl. tax'] = outlet['Sales total excl. tax'].sum()
    new_data['Total revenue inc. tax'] = outlet['Sales total inc. tax'].sum()

    # Sort the index by date
    outlet = outlet.sort_index()

    # Set the "Begin date" to the first date in the outlet dataframe
    new_data['Begin date'] = pd.to_datetime(outlet.index[0])

    # Set the "End date" to the last date in the outlet dataframe
    new_data['End date'] = pd.to_datetime(outlet.index[-1])

    new_data_df = pd.DataFrame.from_dict(new_data, orient='index')

    # Drop the "outlet" column
    outlet_df = outlet.drop(columns=['Outlet'])

    # Reset the index
    outlet_df = outlet_df.reset_index()

    # Drop the 'Date' column
    outlet_df = outlet_df.drop(columns=['Date'])
    outlet_df.shift(-2)

    # Concatenate the new data dictionary with the outlet dataframe with a space in between.  Shift the outlet dataframe to the left by two columns
    combined_df = pd.concat([new_data_df, pd.DataFrame(columns = new_data_df.columns), outlet_df])

    # Reset the index and move the column names to row 6
    combined_df = combined_df.reset_index()

    # Rename the columns to numbers starting with 0
    combined_df.columns = range(combined_df.shape[1])

    # Shift the dataframe beginning at row 6 down by 1 row and left by 2 columns
    combined_df.iloc[5:] = combined_df.iloc[5:].shift(2)

   
    

    
    # Insert the outlet column names into row 6
    combined_df.iloc[6, 2:len(outlet_df.columns)+2] = outlet_df.columns.astype(str)

    # Shift the top 4 rows to the right by 2 columns
    combined_df.iloc[:5] = combined_df.iloc[:5].shift(2, axis=1)

    # If a value in the dataframe is None, replace it with an empty string
    combined_df = combined_df.replace(np.nan, '', regex=True)

    # Drop the first 3 columns
    combined_df = combined_df.drop(columns=[0, 1])

    # Rename the columns to the numbers starting with 0
    combined_df.columns = range(combined_df.shape[1])

    # Export the dataframe to an excel file
    combined_df.to_excel(f'./venue_sales/{outlet["Outlet"].unique()[0]}.xlsx', index=False, header=False)